<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un ami</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<div class="form-container">
    <div class="form-title">Ajouter un ami</div>
    <form th:action="@{/friends/add}" method="post">
        <label>Email de l’ami</label>
        <input type="email" name="email" required />
        <button type="submit">Ajouter</button>
    </form>
    <div class="error" th:if="${error}" th:text="${error}"></div>
    <div class="msg" th:if="${msg}" th:text="${msg}"></div>
    <a class="link" href="/">Accueil</a>
</div>
</body>
</html>
